:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #296297; */

  background-color: #5fbcde;
  opacity: 1;
  background-image: radial-gradient(#ffffff 2px, #5fbcde 2px);
  background-size: 40px 40px;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}

.container {
  padding: 10px;
  height: 100%;
}

.search {
  margin-bottom: 200px;
}

.wheather {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

